#main{
    box-sizing: border-box;
    margin: auto;
}

#header{
    display: flex;
    justify-content: space-between;
    width: 1510px;
    height: 120px;
    align-items: center;
    border-bottom: 1px solid rgb(204, 198, 198);
}

.hearder-left{
    display: flex;
    align-items: center;
    width: 630px;
    justify-content: space-evenly;
}

.menu-left{
    padding-left: 0px;
    width: 350px;
    justify-content: space-evenly;
    display: flex;
    list-style-type: none;
    font-size: 20px;
}


.header-right{
    display: flex;
    justify-content: space-evenly;
    width:250px;
    font-size: 20px;
}

#center{

    width: 1510px;
    margin: auto;
}
.center-imgbig{
    display: flex;
}

.shopnow{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 755px;
    flex-direction: column;
    background-color: hsla(180, 89%, 75%, 0.3);
    padding-left:125px;
}

.shopnow span{
    font-size: 85px;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.learnmore{
    height: 470px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.vanban{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

